/* ----RESET---- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----RESET---- */



/* ----COMMON------ */

body{
    font-family: 'Roboto', sans-serif;
}



.container{
    max-width: 1400px;
    margin: auto;
    
}

/* ----COMMON------ */



/* ----HEADER----- */

header{
    background-color: #ff6900;
    color: white;
}

.row-header{
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}


.logo img{
    width: 140px;
    margin-right: 70px;
    
}



.sesso a{
    padding: 0 5px;
    text-decoration: none;
    color: white;
}


.icon a{
    padding: 0 5px;
    color: white;
}


/* ----HEADER----- */





/* ----MAIN----- */

.row-main{
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
}


.box{
    width:calc(100%/3);
    padding: 10px 10px;
    /* background-color: red; */
}

.box .img-default{
    width: 100%;
    display: block;
}

.box .img-hover{
    width: 100%;
}


.card{
    position: relative;
}


.sale{
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 5px 5px;
    position: absolute;
    bottom: 30px;
}

.sost{
        font-size: 10px;
        background-color:green;
        color: white;
        padding: 5px 5px;
        position: absolute;
        bottom: 30px;
        left: 35px;
}

.heart{
    background-color: white;
    padding: 5px 5px;
    position: absolute;
    top: 10px;
    right: 0;
    color: black;
    
}

#special{
    font-size: 10px;
    background-color: green;
    color: white;
    padding: 5px 5px;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.model{
    font-weight: bolder;
}

.price{
    color: red;
}

del{
    color: black;
}

.img-hover{
    display: none;
}


.box:hover .img-hover{
    display: block;
    transition:all 0.3s ease-in-out;
}


.box:hover .img-default{
    display: none;
    transition: 0.6ms;
    transition: all 0.3s ease-in-out;
}

.box:hover .heart{
    color: red;
}


/* ----MAIN----- */




/* ----FOOTER----- */

footer{
    color: white;
    background-color: black;
}

.row-footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}


.legal a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}